# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
main

# Others
!CMakeLists.txt
*.txt
./XAS_DATA
./RIXS_DATA
./WORK_DIR
./DATA_DIR
.DS_Store
*.ipynb
*.zip
